*
!/.github/
!/.github/**
!/.vaultix/
!/.vaultix/**
!/hosts/
!/hosts/**
!/internal/
!/internal/**
!/lib/
!/lib/**
!/modules/
!/modules/**
!/.envrc
!/.gitignore
!/.qmlformat.ini
!/deno.json
!/flake.lock
!/flake.nix
!/license
!/readme.md
