*
!/**/
!.gitignore

!/.tack/default.nix
!/.tack/pins.lock.json
!/.tack/pins.toml

!/.vaultix/**

!/flake/**/*.nix
!/flake/packages/**/.nu

!/hosts/**/*.age
!/hosts/**/*.json
!/hosts/**/*.nix

!/lib/**/*.nix

!/modules/**/*.age
!/modules/**/*.json
!/modules/**/*.nix

!/resources/**/*.nix

!/.envrc
!/.gitattributes
!/.mdformat.toml
!/.qmlformat.ini
!/.taplo.toml
!/flake.nix
!/license
!/readme.md
