*
!/**/

!/.tack/{default.nix,pins.lock.json,pins.toml}
!/.vaultix/**
!/flake/**/*.nix
!/hosts/**/*.nix
!/lib/**/*.nix
!/modules/**/{.gitignore,*.age,*.nix}

!/.envrc
!/.gitattributes
!/.gitignore
!/.mdformat.toml
!/.qmlformat.ini
!/.taplo.toml
!/flake.nix
!/license
!/readme.md
